<p>Creting a new recipe</p>

<form method="post" action="/recipes">
	<br>
	Name: <input type="text" name="name">
	Ingredients <input type="text" name="ingredients">
	Time <input type="text" name="cook_time">
	<br>
	<input type="submit" name="submit">
</form>